USE [master]
GO
/****** Object:  Database [AngularAdmin]    Script Date: 7/10/2018 11:08:23 PM ******/
CREATE DATABASE [AngularAdmin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngularAdmin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AngularAdmin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngularAdmin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AngularAdmin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularAdmin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularAdmin]
GO
USE [AngularAdmin]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 7/10/2018 11:08:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjectID] [char](36) NOT NULL,
	[ProjectName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 7/10/2018 11:08:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskID] [char](36) NOT NULL,
	[ProjectID] [char](36) NULL,
	[TaskName] [nvarchar](50) NULL,
	[TaskDescription] [nvarchar](1024) NULL,
 CONSTRAINT [PK__Task__3214EC07F441C8F0] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/10/2018 11:08:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [char](36) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Project] ([ProjectID], [ProjectName]) VALUES (N'3F8896C4-C5E6-4B74-83F8-2ADF9D710925', N'Main Project')
INSERT [dbo].[Task] ([TaskID], [ProjectID], [TaskName], [TaskDescription]) VALUES (N'DUHBVIUDBVIUDUB                     ', N'3F8896C4-C5E6-4B74-83F8-2ADF9D710925', N' Trying to find a solution', N'ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.')
INSERT [dbo].[Task] ([TaskID], [ProjectID], [TaskName], [TaskDescription]) VALUES (N'EGEGEG4EY4YH54Y5Y5                  ', N'3F8896C4-C5E6-4B74-83F8-2ADF9D710925', N'This Task Was completed', N'ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.')
INSERT [dbo].[Task] ([TaskID], [ProjectID], [TaskName], [TaskDescription]) VALUES (N'FBDFBNIDFNBNJFDNBNDFNBJ             ', N'3F8896C4-C5E6-4B74-83F8-2ADF9D710925', N'Trying to finish this task', N'ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Gender]) VALUES (N'00048DBF-75EC-4379-86FC-2FAB3083BD1F', N'Nana', N'Dommersen', N'ndommersenel@ebay.co.uk', N'Female')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Gender]) VALUES (N'000D9FBA-A3B6-4482-BC42-032083743F96', N'Alie', N'Brunotti', N'abrunottib@jiathis.com', N'Female')
INSERT [dbo].[User] ([UserID], [FirstName], [LastName], [Email], [Gender]) VALUES (N'00740793-9431-4060-B833-E76C1C88FCF6', N'Jeffrey', N'Ambage', N'jambageli@newsvine.com', N'Male')
GO
USE [master]
GO
